@import "./variables.scss";
@import "./mixins.scss";

%link-hover {  
    color: $fColor;  

    &:hover {
      @include transition-colors;
      color: $fColorDark;
  
      @media (min-width: $breakpoint-lg) {
        color: $fColorDark;
      }
    }
  } 